/* Styles for Milesian calendar applications - in complement with basic styles of Web pages */
p.date {
	text-align : right
}
.dateconvert {
	text-align: center;
}
button.dateconvert {
  background: darkblue;
  color: antiquewhite;
}
.autoscroll {	overflow: auto; }
.clockhand {
	fill:orange; 
	stroke:darkgoldenrod; 
	stroke-width:4px;
	stroke-linecap:round;
}
.motto {
	font-family:Serif;
	font-size:18px;
	text-anchor:middle;
}