/* Styles for Milesian calendar applications - in complement with basic styles of Web pages */
p.date {
	text-align : right
}
.dateconvert {
	text-align: center;
}
.daynum {
	width: 3em;
}
.yearnum {
	width: 5em;
}
.juliandaynum {
	width : 7em;
}
input[disabled], select[disabled] {
	background: white;
	color: black;
	border-style: none;
}
.outbounds {
	color : antiquewhite;
	background : firebrick;
}
button.dateconvert {
  background: darkblue;
  color: antiquewhite;
}
button.symbol {
  width: 3em;
}
.autoscroll {	overflow: auto; }
.clockhand {
	fill:orange; 
	stroke:darkgoldenrod; 
	stroke-width:4px;
	stroke-linecap:round;
}
.motto {
	font-family:Serif;
	font-size:18px;
	text-anchor:middle;
}
.clock {
	font-family	: Sans-Serif;
	text-anchor	: middle;
}
.ampm {
	font-family	: Sans-Serif;
	font-size	: 24px;
}
.yeardisplay {
	font-size	: 42px;
}
.shaded {
	fill 	: dimgray;
	opacity : 0.7
}
.lit {
	fill 	: blanchedalmond
}